@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400&display=swap');

body {
    font-family: 'Asap', sans-serif;
    height: 100vh;
}

nav {
    height: 15vh;
}

.navig {
    background-color: #11a683;
    display: flex;
}

.govco {
    width: 50%;
    height: 15vh;
    display: flex;
    align-items: center;
}

.govco img {
    width: 300px;
    margin-left: 25px;
}

.logo {
    width: 50%;
    height: 15vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 90px;
    margin-right: 20px;
}

.title {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    margin-bottom: 35px;
}

.advice {
    margin-bottom: 10px;
}

footer {
    height: 15vh;
    margin-bottom: -2px;
}

.foot {
    background-color: #11a683;
    display: flex;
    align-items: center;
}

.co {
    width: 90px;
    height: 90px;
    margin-left: 25px;
}

.govcoa {
    width: 300px;
}