@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400&display=swap');

body {
    background: linear-gradient(#11a683, #0b735a);
    font-family: 'Asap', sans-serif;
}

input {
    margin-top: 10px;
    margin-bottom: 18px;
}

a {
    font-size: large;
    text-decoration: none;
}

.inptext {
    width: 400px;
    height: 35px;
}

.container {
    width: 98vw;
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inptext {
    font-family: 'Asap', sans-serif;
    font-size: large;
    margin-bottom: 20px;
}

.send {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send input {
    font-size: 19px;
    margin-bottom: 10px;
}

.stext {
    font-size: 27px;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    width: 80px;
    height: 35px;
    background-color: #efefef;
    border-width: 1.3px;
    border-color: #616a6b;
}

.left-container,
.right-container {
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-container {
    background-color: #ffffff;
}

.right-container {
    background-color: #efefef;
}