@import url('https://fonts.googleapis.com/css2?family=Asap:wght@300;400&display=swap');

body {
    font-family: 'Asap', sans-serif;
    height: 100vh;
}

nav {
    height: 15vh;
}

.alink {
    text-decoration: none;
    color: #ffffff;
}

table {
    margin-top: 20px;
}

.navig {
    background-color: #11a683;
    display: flex;
}

.govco {
    width: 50%;
    height: 15vh;
    display: flex;
    align-items: center;
}

.govco img {
    width: 300px;
    margin-left: 25px;
}

.logo {
    width: 50%;
    height: 15vh;
    display: flex;
    justify-content: end;
    align-items: center;
}

.logo img {
    width: 100px;
    height: 90px;
    margin-right: 20px;
}

.advice {
    margin-top: 50px;
    margin-bottom: 10px;
}

.update {
    margin-top: 80px;
}

.delete {
    margin-bottom: 80px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30vw;
    margin-right: 30vw;
    margin-bottom: 50px;
}

footer {
    height: 15vh;
    margin-bottom: -2px;
}

.foot {
    background-color: #11a683;
    display: flex;
    align-items: center;
}

.co {
    width: 90px;
    height: 90px;
    margin-left: 25px;
}

.govcoa {
    width: 300px;
}